<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <header class="navbar navbar-fixed-top navbar-inverse">

      <div class="navbar-inner">

        <div class="container">
            <nav class="navbar">
            		
				<%-# first way of creating a clickable image (commented out) -%>
				<% if false %>
				<a href="http://localhost:3000" class="svg">
  				<object data="/assets/Algebreezy_draft.svg" type="image/svg+xml" class="mailicon">
  				</object>
				</a>
				<% end %>

		<div>
		<ul>
  			<li>
   			 <a href ="" class = "button">More</a>
    		<ul>
      		<li><%= link_to "Home", root_path %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><%= link_to "Help", help_path %></li>
      
   		    </ul>
  			</li>
  		</ul>
  		<%-# second way of creating a clickable image -%>
		<a href="http://localhost:3000" class="svg">
  		<img src="/assets/Algebreezy_draft.svg" style="width:650px;height:40px;vertical-align:middle">
  		</a>
  		
  		<%-#place holders for login and logout button -%>
  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href ="" class = "button">Login</a>
        <a href ="" class = "button" >Logout</a>

	  </div>

		<% if false %>
		third way of creating a clickable image, link_to_image is initialized in application_helper.rb
		(commented out)
		<%= link_to_image("Algebreezy_draft.svg", "http://localhost:3000") %> 
		<% end %>

    	
            </nav>
        </div>
      </div>
    </header>
    
    <div class="container">

      <% flash.each do |key, value| %>

          <%= content_tag(:div, value, class: "alert alert-#{key}") %>

      <% end %>

      <%= yield %>


    </div>
</html>
