<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <header class="navbar navbar-fixed-top navbar-inverse">

      <div class="navbar-inner">

        <div class="container">
            <nav class="navbar">
               <ul>
  			<li>
   			 More
    		<ul>
      		<li><%= link_to "Home", root_path %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><%= link_to "Help", help_path %></li>
      
   		 </ul>
  		</li>
		</ul>
		

<!--<a href="http://localhost:3000" class="svg">
  <object data="file:///Users/susiekimmyblue/Desktop/Algebreezy_draft.svg" type="image/svg+xml" class="mailicon">
  </object>
</a>
-->
<a href="http://localhost:3000" class = "jpg">
<img src="12162509_10207342516831536_1735063726_o.jpg">
</a>

		<div class="right">
        <a href="?i=4">Login</a>
        <a href="?i=4">Logout</a>
    	</div>
            </nav>
        </div>
      </div>
    </header>
    
    <div class="container">

      <% flash.each do |key, value| %>

          <%= content_tag(:div, value, class: "alert alert-#{key}") %>

      <% end %>

      <%= yield %>


    </div>
</html>
