<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <header class="navbar navbar-fixed-top navbar-inverse">

      <div class="navbar-inner">

        <div class="container">
            <nav class="navbar">
               <ul>
  			<li>
   			 More
    		<ul>
      		<li><%= link_to "Home", root_path %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><%= link_to "Help", help_path %></li>
      
   		 </ul>
  		</li>
		</ul>
		
<%-# first way of creating a clickable image -%>
<a href="http://localhost:3000" class="svg">
  <object data="/assets/Algebreezy_draft.svg" type="image/svg+xml" class="mailicon">
  </object>
</a>
<div>
  <img src="/assets/Algebreezy_draft.svg" style="width:30px;height:60px;vertical-align:middle">
  <span style="">Works.</span>
</div>

<% if false %>
second way of creating a clickable image, link_to_image is initialized in application_helper.rb
<%= link_to_image("Algebreezy_draft.svg", "http://localhost:3000") %> 

third way of creating a clickable image
<a href="http://localhost:3000"> 
<img src="/assets/Algebreezy_draft.svg"/></a>
<% end %>

		<div class="right">
        <a href ="">Login</a>
        <a href ="">Logout</a>
    	</div>
    	
            </nav>
        </div>
      </div>
    </header>
    
    <div class="container">

      <% flash.each do |key, value| %>

          <%= content_tag(:div, value, class: "alert alert-#{key}") %>

      <% end %>

      <%= yield %>


    </div>
</html>
