<!DOCTYPE html>
<html>
    <head>
        <title>Barebones GUI</title>
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'scratchpad_scripts', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar">

            <div>
            <ul>
                <li>
                 <a href ="" class = "button">More</a>
                <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Help", help_path %></li>
          
                </ul>
                </li>
            </ul>
            <div id="title-image-container">
                <a href="/">
                    <%= image_tag "Algebreezy_draft.svg" , class: 'algebreezy-svg'%>
                </a>
            </div>
            <a href ="" class = "button">Login</a>
            <a href ="" class = "button" >Logout</a>

          </div>
    </nav>
        <% flash.each do |key, value| %>

            <%= content_tag(:div, value, class: "alert alert-#{key}") %>

        <% end %>
        <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
        <div class="body_content">
        <%= yield %>
        </div>
    </body>

    </div>
</html>
