<!DOCTYPE html>
<!--
	This is the Barebones GUI for Algebreezy.
	How to use it:
		1. Enter text into the second textbox.
		2. Click enter.
		3. Clone the text into the first textbox.
	
	Notes:
		- The first text box scrolls infinitely as more text is entered.
		  This is a barebones emulation of the infinite piece of paper end-goal.
-->
<html>
<head>
	<title>Barebones GUI</title>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scratchpad_scripts', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    
    <div class="main_content_wrapper">
        <div>
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </div>
        
        <div id="scratchpad"></div><br>
        <label>Please enter an equation:</label>
        <input type="text" id="myEquation">
        <button onclick="display_equation()">Enter</button>
    </div>
</body>
</html>

